
<div class="mt-4 container">
    <div class="">
        <h1 class="title-page">Список типов комнат (Room Type)</h1>
        <a href="/admin/room-type/trash" class="btn-funtion" id="check-empty-trash-btn" count="{{deletedCount}}">
            <i class="far fa-trash-alt trash-icon">
                <span class="count-deleted text-center">{{deletedCount}}</span>
            </i>
            <span class="trash-text">Корзина</span>
        </a>
    </div>

    <table class="table mt-4 table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type name</th>
                <th scope="col">Max adults</th>
                <th scope="col">Max children</th>
                <th scope="col">Price</th>
                <th scope="col">Unit</th>
                <th class="text-center">Funtion</th>
            </tr>
        </thead>
        <tbody>

            {{#each room_types}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.room_type_name}}</td>
                <td>{{this.max_adults}}</td>
                <td>{{this.max_children}}</td>
                <td>{{this.price}}</td>
                <td>{{this.unit}}</td>
                <td class="text-center">
                    <a href="/admin/room-type/{{this._id}}/edit" class="btn-funtion record-funtion">Edit</a>
                    <a href="" class="btn-funtion record-funtion" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-roomType-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td scope="row" colspan="7" class="text-center">Дат в списке нет.</td>
            </tr>

            {{/each}}

            <tr>
                <td colspan="7">
                    <a href="/admin/room-type/create" class="btn-funtion">
                        <i class="fas fa-plus-circle"></i>
                        Создать новый тип комнат
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>

{{!-- Delete form hidden --}}
<form name="delete-form" method="POST"></form>

{{!-- Confirm delete room-type --}}
<div id="delete-roomType-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удалить тип комнаты (Room type)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы уверены, что хотите удалить?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button id="btn-delete" type="button" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var deleteId;
        var deleteForm = document.forms['delete-form'];
        
        //check trash empty or has data?
        var checkTrash = document.getElementById('check-empty-trash-btn');
        if (checkTrash.getAttribute("count") == 0) {
            checkTrash.setAttribute("style", "display: none;")
        }

        //when clicked btn delete
        $('#delete-roomType-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            deleteId = button.data('id');
        })

        //when clicked dialog confirm
        var btnDelete = document.getElementById('btn-delete');
        btnDelete.onclick = function() {
            deleteForm.action = '/admin/room-type/' + deleteId + '?_method=DELETE';
            deleteForm.submit();
        }
    });

    
</script>